@media screen and (max-width: 1440px) {
  #modal-resources .modal-dialog {
    max-width: 940px;
    margin-left: -575px;
  }
}

@media screen and (max-width: 1400px) {
  #modal-resources .modal-dialog {
    left: calc(50% + 80px);
    margin-left: -510px;
  }
}

@media screen and (max-width: 1200px) {
  .card-data__label_type {
      margin-left: 0;
      width: 50%;
      float: left;
  }

  .message-toggle .card-data__label_type {
    width: 45px;
    float: none;
    margin-bottom: 0;
  }

  .gas-stations__item_add {
    padding-right: 60px;
  }

  .gas-stations__item_add::before {
    right: 25px;
  }

  .card-data_main .card-data__cont {
    max-width: 90%;
  }

  .build-route__h-bottom > p {
    max-width: 30%;
    line-height: 18px;
    margin-top: 15px;
  }

  .build-route__h-bottom .check-box {
    padding-right: 30px;
  }

  .build-route__h-bottom .fuel-types__toggler {
    padding-left: 30px;
    width: 190px;
  }

  .save-btn {
    padding: 0 15px;
  }

  .repots-nav li {
    width: 105px;
  }

  .reports-link_templ {
    width: 140px;
  }

  .info-table .res {
    background-position: 15px center;
  }

  .faq-button {
    font-size: 16px;
    line-height: 24px;
    padding-right: 38%;
  }

  .faq-button:after {
    right: 20px;
  }

  .faq-panel {
    padding-right: 20px;
  }

  .repots-nav_user li {
    width: 150px;
  }

  .repots-nav_user .reports-link {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .card-data__label_type {
    float: none;
    width: 100%;
    height: 14px;
    margin-bottom: 12px;
  }

  .card-data__label_type {
    line-height: 14px;
  }

  .gas-stations__item {
    width: 49.4%;
  }

  #modal-resources .modal-dialog {
    max-width: 680px;
    margin-left: -380px;
  }

  #modal-resources .modal-title,
  #modal-resources .widget-nav {
    float: none !important;
  }

  #modal-resources .widget-nav li:first-child {
    padding-left: 0;
  }

  .build-route__h-top .route-arrow {
    width: 7%;
  }

  .build-route__h-top .save-btn_route {
    max-width: 30%;
    padding: 0;
  }

  .build-route__b-bottom {
    flex-wrap: wrap;
    padding: 15px 15px 20px;
  }

  .build-route__h-bottom .check-box {
    padding-right: 30px;
    line-height: 18px;
    max-width: 30%;
    height: 100%;
    padding-top: 15px;
  }

  .gas-stations__item_search {
    width: 100%;
  }

  #department .modal-dialog {
    max-width: 90%;
    right: 50%;
    margin-right: -45%;
  }

  .activation__card-type .card-data__label_type {
    margin-bottom: 20px;
  }

  .repots-nav {
    height: 65px;
  }

  .repots-nav li {
    width: 80px;
  }

  .reports-link {
    font-size: 12px;
    line-height: 65px;
  }

  .reports-link_templ {
    width: 90px;
  }

  .faq-button {
    padding-right: 40%;
  }

  .repots-nav_user li {
    width: 120px;
  }

  .repots-nav_user .reports-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .widget-nav .widget-nav__li {
    padding: 10px 15px;
  }

  .card-data__p {
    font-size: 24px;
  }

  .card-data__p_sm {
    font-size: 14px;
  }

  .save-widget .widget__p {
    float: none !important;
    margin-bottom: 20px;
  }

  .save-widget .save-btn {
    float: none !important;
    margin: 0 auto 20px;
    display: block;
  }

  .card-data__p_fs18 {
    font-size: 18px;
  }

  .build-route__h-bottom > p {
    max-width: 37%;
  }

  .build-route__h-bottom .check-box_type2 .check-box__text {
    font-size: 14px;
  }

  .build-route__b-bottom .card-data__save {
    margin-top: 15px;
  }

  .user-wrap {
    float: none !important;
    max-width: 100%;
  }

  .textarea {
    max-height: 150px;
  }

  .faq-button {
    padding-right: 33%;
  }

  .repots-nav_user li {
    width: auto;
  }

  .repots-nav_user .reports-link {
    padding: 0 10px;
    line-height: 1.5;
    display: table-cell;
    height: 65px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 768px) {
  .vidget h3.pull-left {
    float: none !important;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .widget-nav {
    float: none !important;
    margin-bottom: 15px;
  }

  .widget-nav .widget-nav__li .select-wrap,
  .service-item__select .select-wrap {
    margin-bottom: 0;
  }

  .card-data__cont [class*=col-].pl45 {
    padding-left: 15px;
  }

  .card-data__cont [class*=col-] {
    max-width: 450px;
    margin: 0 auto;
  }

  .card-data__label {
    max-width: 100%;
  }

  .card-data__label_type {
    height: 38px;
    width: 45%;
  }

  .select-wrap_card .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    max-width: 100%;
  }

  .select-wrap {
    margin-bottom: 20px;
  }

  .card-status {
    max-width: 100%;
  }

  #confirm-modal .modal-dialog {
    margin: 150px auto 0;
  }

  .available .check-box_type2 {
    margin: 0 0 20px;
  }

  .available__tab_first {
    padding-right: 50px;
  }

  #modal-resources .modal-dialog {
    max-width: 90%;
    margin-left: -45%;
    left: 50%;
  }

  #modal-resources .modal-header {
    padding-top: 40px;
  }

  #modal-resources .widget-nav {
    margin-bottom: 0;
  }

  .build-route__h-top .select-wrap {
    margin-bottom: 0;
  }

  .build-route__h-bottom .check-box {
    padding-right: 20px;
    max-width: 27%;
  }

  .search-sidebar__h-top .select-wrap {
    margin-bottom: 0;
  }

  #department .build-route__b-top .label-search {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  .activation__card-type .card-data__label_type {
    height: auto;
  }

  .card-status__label_act {
    max-width: 240px;
  }

  .info-txt {
    padding: 0 25px;
  }
}

@media screen and (max-width: 650px) {
  .vidget_report-nav {
    padding-right: 80px;
  }

  .repots-nav {
    height: auto;
  }

  .reports-link_templ {
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .reports-link {
    line-height: 50px;
  }

  .faq-new-message {
    font-size: 0;
    right: 18%;
  }

  .faq-message-cnt {
    font-size: 12px;
  }

  .faq-button {
    padding-right: 25%;
  }

  .faq-data {
    padding: 20px;
  }

  .vidget_user .reports-link_templ {
    width: 106px;
  }

  .repots-nav_user li {
    width: auto;;
  }

  .repots-nav_user .reports-link {
    height: 50px;
    width: 106px;
  }
}

@media screen and (max-width: 600px) {
  .widget-nav__li:first-child {
    float: none;
  }

  .widget-wrap {
    padding: 0 15px;
  }

  .card-data__account,
  .card-data__save {
    float: none !important;
  }

  .card-data__save {
    margin-top: 20px;
  }

  .gas-stations__item {
    width: 100%;
  }

  .available__tab {
    padding: 20px;
    width: 50%;
    line-height: 24px;
    height: 90px;
    text-align: center;
  }

  .available__tab_second i {
    margin-left: 20px;
    font-size: 20px;
  }

  .card-data__tools {
    margin-top: 20px;
  }

  #modal-resources .widget__p,
  #modal-resources .save-btn {
    float: none !important;
  }

  #modal-resources .widget__p {
    max-width: 280px;
  }

  #modal-resources .save-btn {
    margin: 20px auto 0;
    display: block;
  }

  .build-route__h-top {
    flex-wrap: wrap;
    justify-content: center;
  }

  .build-route__h-top .select-wrap {
    max-width: 40%;
  }

  .build-route__h-top .route-arrow {
    width: 10%;
    margin: 0 15px;
  }

  .build-route__h-top .save-btn_route {
    max-width: 220px;
    margin-top: 15px;
  }

  .build-route__h-bottom {
    height: auto;
    padding: 0;
  }

  .build-route__h-bottom .check-box {
    padding: 25px 20px;
    max-width: 100%;
    display: block;
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed #d6d6d6;
  }

  .build-route__h-bottom .check-box_type2 .check-box__text {
    font-size: 18px;
  }

  .build-route__h-bottom > p {
    max-width: 60%;
    padding-right: 20px;
  }

  .build-route__b-top {
    padding: 25px 20px 15px;
  }

  .build-route__b-top p {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .build-route__b-bottom {
    display: block;
    text-align: center;
  }

  .build-route__b-bottom .widget__p {
    margin: 15px 0 0;
  }

  .build-route__b-bottom .card-data__save {
    display: inline-block;
  }

  .build-route__b-top .label-search {
    max-width: 60%;
  }

  .build-route__b-top .label-search .set_dept_name_search {
    height: 40px;
  }

  .activation__h2 {
    font-size: 20px;
  }

  .widget-wrap_info {
    padding: 20px 0;
  }

  .status-content {
    position: relative;
    margin-top: 30px;
    max-width: 100%;
  }

  .activation .card-status {
    max-width: 320px;
  }

  .card-status__label_act {
    max-width: 100%;
  }

  .report-block {
    padding: 15px 15px 0;
  }

  .report-item {
    float: none;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 255px;
  }
}

@media screen and (max-width: 500px) {
  .message-opt .row.h85 {
    height: auto;
  }

  .message-opt .widget__p {
    display: block;
    line-height: 1;
    margin-top: 20px;
  }

  .message-toggle .card-data__label_type {
    height: 14px;
  }

  .message-toggle__p {
    font-size: 14px;
  }

  .save-widget .widget__p {
    line-height: 18px;
    height: 45px;
  }

  .period .widget__p {
    height: auto;
    line-height: 18px;
    margin-bottom: 30px;
    padding: 20px 20px 0 30px;
  }

  .period .widget__p .check-box {
    margin: 0;
  }

  .period-table .first-td {
    min-width: 160px;
  }

  .build-route__h-bottom .check-box,
  .build-route__h-bottom > p,
  .build-route__h-bottom .fuel-types {
    float: none !important;
  }

  .build-route__h-bottom > p {
    padding-left: 20px;
    margin-bottom: 15px;
    max-width: 100%;
  }

  .uc-table__td {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .header-info {
    padding-left: 70px;
  }

  .header-info img {
    position: absolute;
    left: 15px;
    top: 20px;
  }

  .header-info .maxw370 {
    float: none !important;
  }

  .header-info .days_numb__strong {
    font-size: 30px;
  }

  .info-table tr {
    height: 60px;
  }

  .info-table td,
  .info-table th {
    font-size: 13px;
    padding: 0 10px;
  }

  .uc-table__td_fs18 {
    font-size: 14px;
  }

  .uc-table__td {
    padding: 10px;
  }

  .uc-table__td_minw140 {
    min-width: 100px;
  }

  .uc-table__td_wb {
    word-break: break-all;
    min-width: 95px;
  }
}

@media screen and (max-width: 420px) {
  .build-route__h-top {
    display: block;
  }

  .build-route__h-top .select-wrap {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .build-route__h-top .save-btn_route {
    max-width: 100%;
  }

  .build-route__h-top .route-arrow {
    width: 12px;
    margin: 0 auto 15px;
    height: 40px;
  }

  .build-route__h-top .route-arrow::before {
    width: 1px;
    height: calc(100% - 12px);
    border-left: 1px dashed #00a950;
    position: absolute;
    left: 50%;
    top: 0;
  }

  .build-route__h-top .route-arrow::after {
    content: "\f35f";
    top: auto;
    bottom: 0;
    line-height: 12px;
    font-size: 24px;
  }

  .fuel-types__wrap {
    max-height: 210px;
    overflow-y: auto;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .fuel-types {
    text-align: center;
  }

  .fuel-types,
  .build-route__h-bottom .fuel-types__toggler {
    width: 100%;
  }

  .build-route__h-bottom .fuel-types__toggler.active {
    border-bottom: 1px dashed #d6d6d6;
  }

  .fuel-types__check {
    float: none;
    width: 100%;
  }

  .fuel-types__check:first-child,
  .fuel-types__check:nth-child(2) {
    margin-top: 0;
  }

  .fuel-types__check:nth-child(odd) {
    border: none;
  }

  .build-route__h-bottom .check-box_type2 .check-box__text {
    font-size: 16px;
  }

  .build-route__b-top .label-search {
    max-width: 100%;
  }

  .faq-content {
    padding: 20px;
  }

  .faq-panel {
    padding: 0 15px 15px;
  }

  .faq-button {
    padding: 15px 33% 15px 15px;;
  }

  .faq-button:after {
    right: 15px;
  }

  .faq-new-message {
    right: 20%;
  }

  .h4 {
    margin-left: 15px;
  }
}

@media screen and (max-width: 400px) {
  .vidget_report-nav {
    padding-right: 0;
  }

  .reports-link_templ {
    top: 50px;
  }
}

@media screen and (max-width: 380px) {
  .card-data__cont {
    padding: 20px 5px 0;
  }

  .card-data__p {
    font-size: 20px;
  }

  .card-data__p_sm {
    font-size: 14px;
  }

  .message-opt [class*=col-].pl30 {
    padding-left: 15px;
  }

  .save-widget .widget__p {
    height: auto;
  }

  .gas-station__label {
    width: 50px;
  }

  .gas-station__dep {
    width: calc(100% - 100px);
    padding: 0 10px;
  }

  .gas-station__dep p {
    font-size: 12px;
  }

  .available__tab {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 18px;
    height: 75px;
  }

  .available__tab_second i {
    margin-left: 10px;
  }

  .check-box_type2 .check-box__text {
    font-size: 14px;
  }

  .gas-station__add:hover {
    width: 100px;
  }

  .gas-stations__add:hover ~ .gas-station__dep {
    width: calc(100% - 100px);
  }

  .gas-station__add:hover span {
    left: 62%;
  }

  .gas-station__add:hover::before {
    left: 15%;
  }

  .gas-stations__item:hover {
    border: 1px solid #ececec;
  }

  .save-widget .save-btn {
    width: 100%;
  }

  .card-data_main {
    padding: 0 15px;
  }

  .card-data_main .card-data__cont {
    padding: 0 15px;
    max-width: 100%;
  }

  .card-data_main .card-data__p_fs18 {
    font-size: 16px;
  }

  .card-data_main .card-data__p {
    margin-left: 0;
  }

  .card-data__tools {
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  #modal-resources .modal-dialog {
    max-width: 96%;
    margin-left: -48%;
  }

  #modal-resources .modal-body {
    padding: 0 10px 10px;
  }

  #modal-resources .modal-header {
    padding-left: 10px;
    padding-right: 10px;
  }

  #modal-resources .service-item {
    width: 100%;
    max-width: 90%;
  }

  #modal-resources .service-item_preview {
    max-width: 60%;
  }

  #modal-resources .widget__p {
    line-height: 18px;
    height: 45px;
    text-align: left;
  }

  .resourses-info p {
    font-size: 16px;
  }

  .search-sidebar {
    width: 100%;
  }

  .search-sidebar__header {
    height: 210px;
  }

  .gas-stations__item_search .gas-stations__add ~ .gas-station__dep {
    width: calc(100% - 135px);
  }

  .gas-stations__item_search .gas-station__add:hover ~ .gas-station__dep {
    width: calc(100% - 140px);
  }

  .gas-stations__item_search .gas-station__dep p {
    font-size: 11px;
  }

  .gas-stations__item_search .gas-station__add:hover {
    width: 135px;
  }

  .gas-stations__item_search .gas-station__add:hover .gas-station__opt span {
    left: 0;
  }

  .map-container {
    width: 100%;
  }

  #department .build-route__b-top .label-search {
    max-width: 100%;
  }

  .info-window {
    width: 279px;
  }

  .info-window__body {
    padding: 20px;
  }

  .gm-style-iw {
    width: 279px !important;
    min-width: 279px !important;
    margin-left: -140px !important;
  }

  .header-info {
    padding-left: 55px;
  }

  .header-info .days_numb__strong {
    font-size: 24px;
  }

  .header-info img {
    position: absolute;
    left: 10px;
    top: 17px;
    width: 40px;
  }

  .card-services_info {
    padding: 10px 0 0 10px;
  }

  .service-item_info {
    max-width: 145px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
  }

  .available__tab_info {
    height: 50px;
  }

  .card-data__save_cu {
    max-width: 100%;
  }

  .uc-table__td_phone i {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .service-item {
    margin: 10px 0;
  }

  .reports-link_templ {
    box-shadow: none;
  }

  .reports-link_templ:hover {
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,171,77,1), inset 0px 0px 7px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0,171,77,1), inset 0px 0px 7px 0px rgba(0,0,0,0.08);
    box-shadow: inset 0px -5px 0px 0px rgba(0,171,77,1), inset 0px 0px 7px 0px rgba(0,0,0,0.08);
  }

  .service-item_info {
    margin: 0 10px 10px 0;
  }
}
