@media screen and (max-width:1400px) and (min-width:1271px) {
  #modal_add_department .modal-dialog {
    width: 800px;
    margin-left: -400px;
  }
  .slide_footer a.btn {
    width: 220px;
  }
  .footer_faq span,
  .footer_hotline span {
    font-size: 14px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width:1270px) and (min-width:0px) {
  #modal_add_department .modal-dialog {
    width: 650px;
    margin-left: -325px;
  }
  .balance_list li {
    width: 48%;
    margin-left: 12px;
  }
  .vidget_min .vidget h3 {
    width: 100px;
  }
  .vidget_min .vidget h3 span {
    font-size: 12px;
    line-height: 14px;
  }
  .sustem_opp h1 {
    font-size: 44px;
  }
  .header_balance_money>span:first-child,
  .header_balance_days>span:first-child {
    display: none;
  }
  .header_balance_days_numb,
  .header_balance_money_numb {
    margin-right: 10px;
  }
  .header_balance_money_numb {
    font-size: 20px;
  }
}

@media screen and (max-width:1280px) and (min-width:0px) {
  .balance_list li {
    margin-left: 8px;
  }
  .client-message {
    margin-top: -40px;
  }
  .check_type_subsection i {
    width: 48px;
  }
  .check_type_subsection div {
    margin-left: 8px;
    margin-right: 15px;
  }
  .min_last_trns .dp_mustang_plus,
  .min_last_trns .dp_mustang,
  .min_last_trns .mustang_92,
  .min_last_trns .mustang_95,
  .min_last_trns .mustang_100,
  .min_last_trns .lgp_mustang {
    background-size: 70px 22px;
    background-position: 55% center;
  }
  nav a {
    height: 60px;
  }
  .nav_list li {
    height: 60px;
    line-height: 60px;
  }
  footer p {
    font-size: 12px;
  }
  .slider_sustem_opp li {
    padding-left: 50px;
    padding-right: 20px;
  }
  .slider_sustem_opp li span {
    font-size: 12px;
  }
  .slide_footer a.btn {
    margin-left: 60px;
  }
  .footer p {
    font-size: 12px;
  }
  .footer_faq span,
  .footer_hotline span {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
  }
}

@media screen and (max-width:991px) and (min-width:0px) {
  #modal_add_department .modal-dialog {
    width: 500px;
    margin-left: -250px;
  }
  .transit_nav li {
    width: 25%;
  }
  .transit_nav li a {
    font-size: 14px;
  }
  .vidget_min .vidget {
    width: 48%;
    margin-left: 10px;
  }
  .vidget .diagramm:after {
    bottom: 0;
  }
  .buttons_control_panel {
    position: static;
    margin-top: -55px;
  }
  #container_diagram_money,
  #container_diagram {
    top: -10px;
  }
  .green_fonts {
    color: green;
    font-size: 12px;
  }
  .ng-table-counts {
    display: none !Important;
  }
  div.ng-table-pager {
    text-align: center;
  }
  div.ng-table-counts {
    float: none !Important;
    text-align: center !Important;
  }
  .ng-table-pagination {
    margin-top: 20px;
  }
  .control-each-el {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .vidget h3 {
    margin-bottom: 60px;
  }
  .table {
    font-size: 12px;
  }
  .min_card_operation tbody tr td:first-child {
    display: none;
  }
  tbody tr.mobile-table-el {
    height: 100px;
    overflow: hidden;
  }
  .open-close_table_item {
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    position: relative;
    top: 12px;
    background: url('../img/minimize.png') no-repeat center center;
    margin-right: 5px;
  }
  tbody tr.mobile-table-el .open-close_table_item {
    background: url('../img/resize-i.png') no-repeat center center;
  }
  .card_control_panel li {
    width: 80px;
    font-size: 12px;
  }
  footer p {
    font-size: 10px;
  }
  .slide_footer a.btn {
    width: 200px;
    float: right;
    margin-left: 0;
  }
  .slide_footer .faq {
    float: left;
    margin-top: 10px;
    font-size: 12px;
  }
  .slider_sustem_opp li {
    padding: 0;
  }
  .sustem_opp h1 {
    font-size: 35px;
  }
  .slider_sustem_opp li span {
    visibility: hidden;
  }
  .slider_sustem_opp li span i {
    visibility: visible;
    left: 50%;
    margin-left: -10px;
  }
  .sustem_opp {
    padding-top: 30px;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .transit_nav li {
    width: 25%;
  }
  .vidget_min .vidget {
    width: 48%;
    margin-bottom: 20px;
  }
  .check_type_subsection i {
    width: 40px;
  }
  .check_type_subsection div {
    margin-left: 5px;
    margin-right: 8px;
  }
  .min_last_trns .dp_mustang_plus,
  .min_last_trns .dp_mustang,
  .min_last_trns .mustang_92,
  .min_last_trns .mustang_95,
  .min_last_trns .mustang_100,
  .min_last_trns .lgp_mustang {
    background-size: 60px 18px;
    background-position: center 60%;
  }
  table {
    font-size: 12px;
  }
  .slide_footer a.btn {
    margin-left: 0;
    float: right;
  }
  a.faq {
    float: left;
  }
}

@media screen and (min-width:0px) and (max-width:767px) {
  #modal_add_department .modal-content {
    height: 360px;
  }
  #modal_add_department .modal-dialog {
    width: 320px;
    margin-left: -160px;
    margin-top: -160px;
  }
  #modal_send_money .modal-body-form input {
    width: 54%
  }
  #modal_send_money .modal-body-form button {
    width: 45%;
  }
  #modal_send_money .modal-body-form select {
    padding: 8px;
    font-size: 12px;
  }
  #modal_send_money .modal-content {
    height: 350px;
  }
  #modal_send_money .modal-body {
    height: 320px;
  }
  #modal_send_money .modal-dialog {
    margin-top: -160px;
    margin-left: -155px;
  }
  #modal_send_money .modal-content {
    width: 310px;
    height: 400px;
  }
  #modal_send_money .modal-body-form button {
    height: 30px;
  }
  #modal_send_money .modal-body-form input {
    height: 30px;
  }
  .vidget_min .vidget {
    width: 95%;
    margin: 20px auto;
  }
  .balance_list li {
    width: 47%;
  }
  .check_type_subsection div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .min_last_trns .dp_mustang_plus,
  .min_last_trns .dp_mustang,
  .min_last_trns .mustang_92,
  .min_last_trns .mustang_95,
  .min_last_trns .mustang_100,
  .min_last_trns .lgp_mustang {
    background-size: 60px 18px;
    background-position: 60% center;
  }
  nav a {
    height: 45px;
  }
  .nav_list li {
    height: 45px;
    line-height: 45px;
  }
  h3 {
    font-size: 20px;
  }
  .card_control_panel ul {
    height: 50px;
    overflow: hidden;
    padding-left: 0;
  }
  .card_control_panel li {
    width: 20%;
  }
  .card_control_panel ul.open_table_panel {
    height: 100%;
    overflow: auto;
  }
  .card_control_panel ul li:first-child {
    display: block;
    width: 100%;
  }
  .card_control_panel ul li:first-child:after {
    content: '▼';
    position: relative;
    left: 10px;
    color: #fff;
  }
  .ng-table-filters {
    top: 20px !Important;
    left: 20px !Important;
  }
  .sustem_opp {
    padding-top: 25px;
  }
  .sustem_opp h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .active_slide {
    padding-left: 25px;
    padding-right: 25px;
  }
  .slider_arrow_left,
  .slider_arrow_right {
    display: none;
  }
  footer.mobile-size {
    margin-left: 0;
  }
  .slide_footer>div {
    text-align: center;
  }
  .slide_footer a.btn {
    float: none;
  }
  a.faq {
    display: none;
  }
  main {
    padding-right: 0;
  }
  .show_hide,
  .header_balance_money button,
  .header_balance_days_numb,
  .header_balance_money>span:first-child,
  .header_balance_days>span:first-child,
  .location_header {
    display: none;
  }
  .header_balance_money_numb {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
  }
  .header_balance_money {
    padding: 0;
    padding-right: 10px;
    border: none;
  }
  .client-message-text p {
    padding: 20px;
    font-size: 12px;
  }
  .client-message-text span {
    float: none;
  }
  .message-control {
    padding-left: 10px;
    padding-right: 10px;
  }
  .vidget_min {
    padding-left: 10px;
  }
  .vidget {}
  .transit_nav li {
    width: 33.3%;
    float: left;
  }
}

@media screen and (min-width:0px) and (max-width:480px) {
  .slider_sustem_opp li span i {
    margin-left: -10px;
  }
  .header_balance_money_numb {
    margin-right: 5px;
    margin-left: -5px;
    font-size: 14px;
  }
  .header_balance_days,
  .header_logout {
    float: right;
    border-left: 1px solid rgb(0, 171, 78);
    padding-left: 15px;
    padding-right: 15px;
  }
  .balance_list {
    padding: 10px;
  }
  .balance_list li {
    width: 95%;
  }
  .message-control span {
    font-size: 12px !Important;
  }
  .message-control span:last-child {}
  .message-control {
    padding-left: 10px;
    padding-right: 10px;
  }
}