<h2>Кабинет клієнта</h2>
<!--
<table class="table table-striped">
  <th>
    <td>
      <input type="checkbox">
    </td>
    <td>
      Карта /Рахунок
    </td>
    <td>
      Держатель
    </td>
    <td>
      Інформація
    </td>
    <td>
      Телефони
    </td>
    <td>
      Ліміти
    </td>
    <td>
      Періоди  
    </td>
    <td>
      Статус
    </td>
  </th>
  <tr>
    <td data-title="ID" data-breakpoints="xs">1</td>
    <td>Dennise</td>
    <td>Fuhrman</td>
    <td data-title="Job Title" data-breakpoints="xs">High School History Teacher</td>
    <td data-title="Started On" data-breakpoints="xs sm">November 8th 2011</td>
    <td data-title="Date of Birth" data-breakpoints="xs sm md">July 25th 1960</td>
  </tr>
</table>
-->
<div ng-controller="tableCardsCtrl">
<table ng-table="usersTable" class="table table-striped">
   <tr ng-repeat="user in data">
       <td data-title="'Id'" >
           {{user.id}}
       </td>
       <td data-title="'First Name'" >
           {{user.first_name}}
       </td>
       <td data-title="'Last Name'" >
           {{user.last_name}}
       </td>    
       <td data-title="'e-mail'" >
           {{user.email}}
       </td>    
       <td data-title="'Country'">
           {{user.country}}
       </td>    
       <td data-title="'IP'" >
           {{user.ip_address}}
       </td>    
   </tr>
</table>
</div>


<!--

    <ul>
      <li ng-repeat="user in dataset">
        {{user.name}}
      </li>
    </ul>-->